@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif!important;
}
.bg-image1{
    background-image: url('../images/muslimwed1.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image2{
    background-image: url('../images/muslimwed2new.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image3{
    background-image: url('../images/muslimwed3new.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-hover:hover {
    background: #3F87F5;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
    color: blanchedalmond;
}

.card-box {
    background: #FFFFFF;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    width:auto;
}
.check {
    height: 20px;
}